body {
    font-family: Montserrat, sans-serif;
    margin: 0px;
    overflow: hidden;
}

@font-face {
    font-family: Gagalin;
    src: url(fonts/Gagalin-Regular.otf);
}

@font-face {
    font-family: 'Architects Daughter';
    src: url(fonts/ArchitectsDaughter-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.landing-page {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #38b6ff, rgba(0, 0, 255, 0.5));
    background-color: #38b6ff;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
    overflow-x: hidden;
}

.title-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    align-content: center;
    padding-top: 5px;
    padding-bottom: 10px;
    justify-content: center;
}

.exhibit {
    max-width: auto;
    font-family: Gagalin;
    font-size: 34px;
    text-shadow: 0px 0px 15px white;
    padding-left: 5px;
    padding-right: 5px;
}

.company-logo {
    max-width: 80px;
    max-height: auto;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
}

.game-title {
    font-family: Gagalin;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-weight: 900;
    text-shadow: 0px 2px 10px white;
    padding-left: 5px;
    padding-right: 5px;
}

.cloud-mag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.magnifying-glass {
    height: auto;
    width: 100px;
    /* margin-right: 0px; */
}

.cloud-container {
    max-width: 200px;
    max-height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
}

#cloud {
    width: 175px;
    height: auto;
    background: #f2f9fe;
    border-radius: 50px;
    position: relative;
    text-align: center;
    font-family: Gagalin;
    font-size: 16px;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

#cloud:after,
#cloud:before {
    content: '';
    position: absolute;
    background: #f2f9fe;
    z-index: -1
}

#cloud:after {
    width: 50px;
    height: 50px;
    top: -25px;
    left: 25px;
    border-radius: 50px;
}

#cloud:before {
    width: 90px;
    height: 90px;
    top: -45px;
    right: 25px;
    border-radius: 100px;
}

.game-info {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    text-shadow: 0px 0px 5px black;
    color: white;
    padding-top: 10px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10px;
}

.directions {
    position: absolute;
    font-family: Gagalin;
    font-size: 18px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px black;
    padding-left: 40%;
    padding-right: 5px;
    bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.start-button-container {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 20px;
    width: 100%;
}

.start-button {
    position: relative;
    text-align: center;
    font-size: 26px;
    font-family: Gagalin;
    color: white;
    background-color: #f44336;
    border: 5px solid #f1f1f1;
    box-shadow: inset 3px 1px 6px lightgray;
    padding: 5px 15px;
    border-radius: 20px;
}

.start-button:active {
    box-shadow: inset 5px 2px 10px #000000;
    color: darkgrey;
    background-color: darkred;
    transition: 0ms;
}

.grass {
    z-index: -5;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.a-enter-vr-button {
    display: none;
}

.timer {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: lightblue;
    color: white;
    text-shadow: 0px 0px 10px black;
    font-size: 25px;
    font-weight: 500;
    font-family: Gagalin;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 7px #888888;
    padding: 5px 15px;
    z-index: 2
}

.score {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: tan;
    color: white;
    text-shadow: 0px 0px 10px black;
    font-size: 25px;
    font-family: Gagalin;
    font-weight: 500;
    border: 5px solid white;
    box-shadow: inset 0px 0px 7px #888888;
    border-radius: 10px;
    padding: 5px 15px;
    z-index: 2;
}

.cameralens {
    position: absolute;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    color: black;
    z-index: 2;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -53px;
    margin-left: -53px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 4px solid black;
}

.blink-circle {
    animation: blinkingBackground 1.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -53px;
    margin-left: -53px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

@keyframes blinkingBackground {
    0% {
        border: 4px solid white;
    }
    9% {
        border: 4px solid black;
    }
    10% {
        border: 4px solid white;
    }
    19% {
        border: 4px solid black;
    }
    20% {
        border: 4px solid white;
    }
    29% {
        border: 4px solid black;
    }
    30% {
        border: 4px solid white;
    }
    39% {
        border: 4px solid black;
    }
    40% {
        border: 4px solid white;
    }
    49% {
        border: 4px solid black;
    }
    50% {
        border: 4px solid white;
    }
    59% {
        border: 4px solid black;
    }
    60% {
        border: 4px solid white;
    }
    69% {
        border: 4px solid black;
    }
    70% {
        border: 4px solid white;
    }
    79% {
        border: 4px solid black;
    }
    80% {
        border: 4px solid white;
    }
    89% {
        border: 4px solid black;
    }
    90% {
        border: 4px solid white;
    }
    100% {
        border: 4px solid black;
    }
}

.cameraflash {
    display: none;
    position: relative;
    border: 1px solid white;
    background-color: white;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    color: black;
    z-index: 1;
}

.endgame {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: tan;
    overflow-x: hidden;
    transition: 0.5s;
}

.endgame-content {
    position: relative;
    font-family: Gagalin;
    z-index: 1;
    color: white;
    background-color: #6b5c47;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    border: solid white;
    text-shadow: 2px 1px 5px black;
    box-shadow: 0px 0px 5px white;
}

.notebook-paper {
    background-color: white;
    background-image: repeating-linear-gradient(#ffff99 0px, #ffff99 22px, teal 23px);
    box-shadow: 0px 0px 5px black;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
    display: flex;
    gap: 30px;
}

.name-checkbox {
    height: 20px;
    padding: 4px;
    padding-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.animal-facts {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.green-check-mark {
    max-width: 100%;
    max-height: 100%;
    display: none;
}

.polaroid-container {
    height: 180px;
    width: 150px;
    background-color: white;
    border: 1px solid rgb(190, 190, 190);
    box-shadow: 5px 5px 10px black;
    flex-shrink: 0;
}

.polaroid-name {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    font-size: 15px;
}

.polaroid {
    position: relative;
    width: 84%;
    padding-left: 8%;
    padding-top: 8%;
    height: auto;
}

.try-again-container {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.try-again-container-text {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    text-shadow: 0px 0px 5px black;
    color: white;
    padding-bottom: 10px;
}

.survey-link {
    text-align: center;
    position: static;
    margin-top: 20px;
    margin-bottom: 15px;
}